src/workflows/dash_tendencia.json
{
  "name": "dash-tendencia",
  "nodes": [
    {
      "parameters": {
        "path": "painel-btc",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "0e663807-2da7-4078-9f4f-531671796632",
      "name": "Webhook de entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        180,
        1000
      ],
      "webhookId": "painelbtc123"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        940,
        1000
      ],
      "id": "722eebdb-3fa2-4076-85f1-e4ea66919ec2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "html": "\n<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>BTC Turbo - Força da tendência de alta</title>\n  <script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script>\n  <style>\n    body {\n      background: #0f111a;\n      color: #fff;\n      text-align: center;\n      font-family: 'Arial', sans-serif;\n      padding: 20px;\n      margin: 0;\n      min-height: 100vh;\n      overflow-x: hidden;\n    }\n\n    h1 {\n      font-size: 24px;\n      color: #f7931a;\n      margin-bottom: 20px;\n      padding: 0 10px;\n      font-weight: 700;\n    }\n\n      .menu-scroll {\n      display: flex;\n      justify-content: center; /* 🔸 Centraliza no desktop */\n      gap: 10px;\n      margin-bottom: 30px;\n      padding: 8px;\n      border-bottom: 1px solid #333;\n    }\n    \n    /* Ativa scroll horizontal apenas no mobile */\n    @media (max-width: 768px) {\n      .menu-scroll {\n        overflow-x: auto;\n        justify-content: flex-start;\n        -ms-overflow-style: none;\n        scrollbar-width: none;\n      }\n    \n      .menu-scroll::-webkit-scrollbar {\n        display: none;\n      }\n    }\n\n\n    .menu-scroll::-webkit-scrollbar {\n      display: none;\n    }\n\n    .menu-scroll a {\n      flex: 0 0 auto;\n      background-color: transparent;\n      color: #888;\n      font-weight: 600;\n      text-decoration: none;\n      padding: 10px 14px;\n      border-bottom: 3px solid transparent;\n      white-space: nowrap;\n      transition: 0.3s;\n      font-size: 16px;\n    }\n\n    .menu-scroll a:hover,\n    .menu-scroll a:focus {\n      color: #f7931a;\n      border-bottom: 3px solid #f7931a;\n    }\n\n    .menu-scroll a.ativo {\n      color: #f7931a;\n      border-bottom: 3px solid #f7931a;\n      background-color: #1e1e1e;\n    }\n\n    .dashboard-grid {\n      display: flex;\n      flex-wrap: wrap;\n      justify-content: center;\n      gap: 20px;\n      padding-bottom: 30px;\n    }\n\n    .grafico {\n      width: 240px;\n      background: #161b22;\n      border-radius: 20px;\n      padding: 20px 10px;\n      box-shadow: 0 0 10px rgba(0,0,0,0.6);\n    }\n\n    .gauge-wrapper {\n      height: 180px !important;\n      display: flex;\n      justify-content: center;\n      align-items: center;\n    }\n\n    .info-icon {\n    width: 20px;\n    height: 20px;\n    cursor: pointer;\n    vertical-align: middle;\n   }\n      \n    .observacao {\n      margin-top: 10px;\n      font-size: 13px;\n      color: #ccc;\n      padding: 0 10px;\n      white-space: pre-line;\n      word-break: break-word;\n      line-height: 1.4;\n    }\n\n    .badge {\n      background-color: #f7931a;\n      color: #fff;\n      font-size: 13px;\n      font-weight: bold;\n      padding: 3px 9px;\n      border-radius: 6px;\n      display: inline-block;\n      margin-bottom: 5px;\n    }\n\n    @media (max-width: 600px) {\n      .grafico {\n        width: 92vw;\n        margin-bottom: 20px;\n      }\n\n      .menu-scroll a {\n        font-size: 16px;\n        padding: 10px 14px;\n      }\n    }\n  </style>\n  \n</head>\n<body>\n\n  <h1>BTC Turbo - Força da tendência de alta</h1>\n\n  <div class=\"menu-scroll\">\n    <a href=\"/webhook/painel-forca-medias\" class=\"ativo\">Tendência</a>\n    <a href=\"/webhook/painel-forca-ciclos\">Ciclos</a>\n    <a href=\"/webhook/painel-forca-fundamentos\">Fundamentos</a>\n    <a href=\"/webhook/painel-risco-financeiro\">R. Financeiro</a>\n    <a href=\"/webhook/painel-risco-estrutura\">R. Estrutura</a>\n    <a href=\"/webhook/painel-risco-macro\">R. Macro</a>\n    <a href=\"/webhook/painel-risco-tecnico\">R. Técnico</a>\n    <a href=\"/webhook/painel-consolidado\">Consolidado</a>\n  </div>\n\n  <div class=\"dashboard-grid\">\n    {{ $json[\"score_consolidado\"] }}\n    {{ $json[\"1w\"] }}\n    {{ $json['1d'] }} \n    {{ $json[\"4h\"] }}\n    {{ $json['1h'] }} \n    {{ $json['15m'] }}\n  </div>\n\n</body>\n</html>\n"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1700,
        -340
      ],
      "id": "34211818-3af6-45df-ba57-3e0f523d962d",
      "name": "Template final1"
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n<html lang=\"pt-BR\">\n<head>\n  <meta charset=\"UTF-8\" />\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" />\n  <title>BTC Turbo - Força da tendência de alta</title>\n  <script src=\"https://cdn.jsdelivr.net/npm/chart.js\"></script>\n  <style>\n    *, *::before, *::after {\n      box-sizing: border-box;\n    }\n\n    html {\n      overflow-x: hidden;\n    }\n\n    body {\n      background: #0f111a;\n      color: #fff;\n      text-align: center;\n      font-family: system-ui, sans-serif;\n      padding: 2%;\n      margin: 0;\n      min-height: 100vh;\n      width: 100%;\n      overflow-x: hidden;\n      max-width: 100vw;\n    }\n\n    .grafico-titulo {\n      margin-bottom: 2%;\n      font-size: clamp(13px, 2.5vw, 16px);\n      color: #888;\n      display: flex;\n      justify-content: center;\n      align-items: center;\n      gap: 1%;\n      flex-wrap: wrap;\n    }\n\n    h1 {\n      font-size: clamp(20px, 4vw, 28px);\n      color: #f7931a;\n      margin-bottom: 3%;\n      padding: 0 2%;\n      font-weight: 700;\n    }\n\n    .menu-scroll {\n      display: flex;\n      justify-content: center;\n      gap: clamp(8px, 1.5vw, 24px);\n      margin-bottom: 4%;\n      padding: 1.5%;\n      border-bottom: 1px solid #333;\n      overflow-x: auto;\n      -ms-overflow-style: none;\n      scrollbar-width: none;\n      max-width: 100%;\n      width: 100%;\n      flex-wrap: nowrap;\n    }\n    \n    @media (max-width: 1200px) {\n      .menu-scroll {\n        justify-content: flex-start;\n        gap: clamp(6px, 1vw, 16px);\n      }\n    }\n\n    @media (max-width: 768px) {\n      .menu-scroll {\n        justify-content: flex-start;\n        gap: clamp(4px, 1vw, 8px);\n      }\n    }\n\n    .menu-scroll::-webkit-scrollbar {\n      display: none;\n    }\n\n    .menu-scroll a {\n      flex: 0 0 auto;\n      background-color: transparent;\n      color: #888;\n      font-weight: 600;\n      text-decoration: none;\n      padding: clamp(8px, 1.5vw, 12px) clamp(12px, 2vw, 20px);\n      border-bottom: 3px solid transparent;\n      white-space: nowrap;\n      transition: 0.3s;\n      font-size: clamp(14px, 1.6vw, 16px);\n      border-radius: 8px;\n      min-width: fit-content;\n    }\n\n    .menu-scroll a:hover,\n    .menu-scroll a:focus {\n      color: #f7931a;\n      border-bottom: 3px solid #f7931a;\n    }\n\n    .menu-scroll a.ativo {\n      color: #f7931a;\n      border-bottom: 3px solid #f7931a;\n      background-color: #1e1e1e;\n    }\n\n    .dashboard-grid {\n      display: flex;\n      flex-wrap: wrap;\n      justify-content: center;\n      gap: 2%;\n      margin-bottom: 4%;\n      width: 100%;\n      max-width: 100%;\n    }\n\n    .grafico {\n      width: clamp(200px, 30%, 280px);\n      background: #161b22;\n      border-radius: 4%;\n      padding: 3% 2%;\n      box-shadow: 0 0 10px rgba(0,0,0,0.6);\n      display: flex;\n      flex-direction: column;\n      align-items: center;\n      margin-bottom: 2%;\n      min-width: 0;\n    }\n\n    .info-icon {\n      width: clamp(18px, 3vw, 24px);\n      height: clamp(18px, 3vw, 24px);\n      cursor: pointer;\n      vertical-align: middle;\n    }\n\n    .tooltip {\n      margin-top: 2%;\n      position: relative;\n    }\n\n    .tooltip-text {\n      visibility: hidden;\n      opacity: 0;\n      transition: opacity 0.3s;\n      font-size: clamp(11px, 2vw, 14px);\n      color: #ccc;\n      background: #1e1e1e;\n      border: 1px solid #333;\n      border-radius: 4px;\n      padding: 8px 12px;\n      position: absolute;\n      bottom: -150%;\n      left: 50%;\n      transform: translateX(-50%);\n      z-index: 1;\n      white-space: normal;\n      width: 200px;\n      word-wrap: break-word;\n      line-height: 1.3;\n      text-align: left;\n    }\n\n    .tooltip:hover .tooltip-text {\n      visibility: visible;\n      opacity: 1;\n    }\n\n    .classificacao {\n      font-size: clamp(12px, 2.2vw, 16px);\n      margin-top: 2%;\n      font-weight: 600;\n    }\n\n    /* Responsividade para tablets */\n    @media (max-width: 1024px) {\n      .grafico {\n        width: clamp(180px, 45%, 250px);\n      }\n      \n      .dashboard-grid {\n        gap: 2%;\n      }\n    }\n\n    /* Responsividade para mobile */\n    @media (max-width: 600px) {\n      body {\n        padding: 1.5% 1%;\n      }\n\n      .grafico {\n        width: calc(100% - 2px);\n        max-width: none;\n        margin-bottom: 4%;\n        padding: 4% 3%;\n      }\n\n      .dashboard-grid {\n        gap: 0;\n        flex-direction: column;\n        align-items: center;\n      }\n\n      .menu-scroll {\n        margin-bottom: 5%;\n        padding: 2% 1%;\n        gap: 1%;\n      }\n\n      .menu-scroll a {\n        padding: 3% 3%;\n        font-size: clamp(14px, 3.5vw, 16px);\n      }\n\n      .tooltip-text {\n        font-size: clamp(10px, 2.5vw, 12px);\n        padding: 6px 10px;\n        bottom: -120%;\n        width: 180px;\n        left: 50%;\n        right: auto;\n      }\n\n      h1 {\n        margin-bottom: 4%;\n        padding: 0 1%;\n      }\n    }\n\n    /* Responsividade para telas muito pequenas */\n    @media (max-width: 350px) {\n      body {\n        padding: 1% 0.5%;\n      }\n\n      .grafico {\n        padding: 5% 2%;\n        width: calc(100% - 4px);\n      }\n\n      .dashboard-grid {\n        gap: 0;\n      }\n\n      .tooltip-text {\n        width: 160px;\n        font-size: clamp(9px, 2.2vw, 11px);\n      }\n    }\n\n    /* Canvas responsivo */\n    canvas {\n      max-width: 100%;\n      height: auto;\n    }\n  </style>\n</head>\n<body>\n  <h1>BTC Turbo - Força da tendência de alta</h1>\n  <div class=\"menu-scroll\">\n    <a href=\"/webhook/painel-forca-medias\" class=\"ativo\">Tendência</a>\n    <a href=\"/webhook/painel-forca-ciclos\">Ciclos</a>\n    <a href=\"/webhook/painel-forca-fundamentos\">Fundamentos</a>\n    <a href=\"/webhook/painel-risco-financeiro\">R. Financeiro</a>\n    <a href=\"/webhook/painel-risco-estrutura\">R. Estrutura</a>\n    <a href=\"/webhook/painel-risco-macro\">R. Macro</a>\n    <a href=\"/webhook/painel-risco-tecnico\">R. Técnico</a>\n    <a href=\"/webhook/painel-consolidado\">Consolidado</a>\n  </div>\n  \n  <!-- Todos os gráficos em uma única linha horizontal que quebra conforme necessário -->\n  <div class=\"dashboard-grid\">\n    <!-- Resultado Consolidado -->\n    <div class=\"grafico\">\n      <div class=\"grafico-titulo\">\n        <span class=\"grafico-label\">Resultado Consolidado</span>\n      </div>\n      <canvas id=\"gaugeChart_consolidado\" width=\"200\" height=\"180\"></canvas>\n      <div id=\"classificacao_consolidado\" class=\"classificacao\">Agora: {{ $json.consolidado.score * 10}}  - {{ $json.consolidado.classificacao }}</div>\n      <div class=\"tooltip\">\n        <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#ccc\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"info-icon\">\n          <circle cx=\"12\" cy=\"12\" r=\"10\" />\n          <line x1=\"12\" y1=\"16\" x2=\"12\" y2=\"12\" />\n          <line x1=\"12\" y1=\"8\" x2=\"12.01\" y2=\"8\" />\n        </svg>\n        <span class=\"tooltip-text\">{{  $json.consolidado.racional}}</span>\n      </div>\n      <script>\n        // Este script será executado pelo sistema de inicialização central\n      </script>\n    </div>\n            \n    <!-- Score gráfico semanal -->\n    <div class=\"grafico\">\n      <div class=\"grafico-titulo\">\n        <span class=\"grafico-label\">Tempo gráfico - 1W</span>\n      </div>\n      <canvas id=\"gaugeChart_1w\" width=\"200\" height=\"180\"></canvas>\n      <div id=\"classificacao_1w\" class=\"classificacao\">Agora: {{ $json.emas[\"1w\"].analise.score * 10}}  - {{ $json.emas[\"1w\"].analise.classificacao }}</div>\n      <div class=\"tooltip\">\n        <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#ccc\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"info-icon\">\n          <circle cx=\"12\" cy=\"12\" r=\"10\" />\n          <line x1=\"12\" y1=\"16\" x2=\"12\" y2=\"12\" />\n          <line x1=\"12\" y1=\"8\" x2=\"12.01\" y2=\"8\" />\n        </svg>\n        <span class=\"tooltip-text\">{{ $json.emas[\"1w\"].analise.observacao }}</span>\n      </div>\n      <script>\n        // Este script será executado pelo sistema de inicialização central\n      </script>\n    </div>\n            \n    <!-- Score gráfico diário -->\n    <div class=\"grafico\">\n      <div class=\"grafico-titulo\">\n        <span class=\"grafico-label\">Tempo gráfico - 1D</span>\n      </div>\n      <canvas id=\"gaugeChart_1d\" width=\"200\" height=\"180\"></canvas>\n      <div id=\"classificacao_1d\" class=\"classificacao\">Agora: {{ $json.emas[\"1d\"].analise.score * 10}}  - {{ $json.emas[\"1d\"].analise.classificacao }}</div>\n      <div class=\"tooltip\">\n        <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#ccc\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"info-icon\">\n          <circle cx=\"12\" cy=\"12\" r=\"10\" />\n          <line x1=\"12\" y1=\"16\" x2=\"12\" y2=\"12\" />\n          <line x1=\"12\" y1=\"8\" x2=\"12.01\" y2=\"8\" />\n        </svg>\n        <span class=\"tooltip-text\">{{ $json.emas[\"1d\"].analise.observacao }}</span>\n      </div>\n      <script>\n        // Este script será executado pelo sistema de inicialização central\n      </script>\n    </div>\n    \n    <!-- Score gráfico 4h -->\n    <div class=\"grafico\">\n      <div class=\"grafico-titulo\">\n        <span class=\"grafico-label\">Tempo gráfico - 4H</span>\n      </div>\n      <canvas id=\"gaugeChart_4h\" width=\"200\" height=\"180\"></canvas>\n      <div id=\"classificacao_4h\" class=\"classificacao\">Agora: {{ $json.emas[\"4h\"].analise.score * 10}}  - {{ $json.emas[\"4h\"].analise.classificacao }}</div>\n      <div class=\"tooltip\">\n        <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#ccc\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"info-icon\">\n          <circle cx=\"12\" cy=\"12\" r=\"10\" />\n          <line x1=\"12\" y1=\"16\" x2=\"12\" y2=\"12\" />\n          <line x1=\"12\" y1=\"8\" x2=\"12.01\" y2=\"8\" />\n        </svg>\n        <span class=\"tooltip-text\">{{ $json.emas[\"4h\"].analise.observacao }}</span>\n      </div>\n      <script>\n        // Este script será executado pelo sistema de inicialização central\n      </script>\n    </div>\n\n    <!-- Score gráfico 1h -->\n    <div class=\"grafico\">\n      <div class=\"grafico-titulo\">\n        <span class=\"grafico-label\">Tempo gráfico - 1H</span>\n      </div>\n      <canvas id=\"gaugeChart_1h\" width=\"200\" height=\"180\"></canvas>\n      <div id=\"classificacao_1h\" class=\"classificacao\">Agora: {{ $json.emas[\"1h\"].analise.score * 10}}  - {{ $json.emas[\"1h\"].analise.classificacao }}</div>\n      <div class=\"tooltip\">\n        <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#ccc\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"info-icon\">\n          <circle cx=\"12\" cy=\"12\" r=\"10\" />\n          <line x1=\"12\" y1=\"16\" x2=\"12\" y2=\"12\" />\n          <line x1=\"12\" y1=\"8\" x2=\"12.01\" y2=\"8\" />\n        </svg>\n        <span class=\"tooltip-text\">{{ $json.emas[\"1h\"].analise.observacao }}</span>\n      </div>\n      <script>\n        // Este script será executado pelo sistema de inicialização central\n      </script>\n    </div>\n\n    <!-- Score gráfico 15m -->\n    <div class=\"grafico\">\n      <div class=\"grafico-titulo\">\n        <span class=\"grafico-label\">Tempo gráfico - 15M</span>\n      </div>\n      <canvas id=\"gaugeChart_15m\" width=\"200\" height=\"180\"></canvas>\n      <div id=\"classificacao_15m\" class=\"classificacao\">Agora: {{ $json.emas[\"15m\"].analise.score * 10}}  - {{ $json.emas[\"15m\"].analise.classificacao }}</div>\n      <div class=\"tooltip\">\n        <svg xmlns=\"http://www.w3.org/2000/svg\" width=\"22\" height=\"22\" viewBox=\"0 0 24 24\" fill=\"none\" stroke=\"#ccc\" stroke-width=\"2\" stroke-linecap=\"round\" stroke-linejoin=\"round\" class=\"info-icon\">\n          <circle cx=\"12\" cy=\"12\" r=\"10\" />\n          <line x1=\"12\" y1=\"16\" x2=\"12\" y2=\"12\" />\n          <line x1=\"12\" y1=\"8\" x2=\"12.01\" y2=\"8\" />\n        </svg>\n        <span class=\"tooltip-text\">{{ $json.emas[\"15m\"].analise.observacao }}</span>\n      </div>\n      <script>\n        // Este script será executado pelo sistema de inicialização central\n      </script>\n    </div>\n  </div>\n\n  <!-- Script da função global -->\n  <script>\n    // Aguarda o DOM e Chart.js estarem prontos\n    function waitForChartJS() {\n      return new Promise((resolve) => {\n        if (typeof Chart !== 'undefined') {\n          resolve();\n        } else {\n          const checkChart = setInterval(() => {\n            if (typeof Chart !== 'undefined') {\n              clearInterval(checkChart);\n              resolve();\n            }\n          }, 100);\n        }\n      });\n    }\n\n    function renderGauge({ canvasId, score, classificacaoId }) {\n      const canvas = document.getElementById(canvasId);\n      if (!canvas) {\n        console.error(`Canvas ${canvasId} não encontrado`);\n        return;\n      }\n\n      const ctx = canvas.getContext('2d');\n      if (!ctx) {\n        console.error(`Contexto 2D não disponível para ${canvasId}`);\n        return;\n      }\n\n      // Limpa qualquer chart existente\n      const existingChart = Chart.getChart(canvas);\n      if (existingChart) {\n        existingChart.destroy();\n      }\n\n      // Define a cor da classificação com base no score\n      let corTexto;\n      if (score < 20) corTexto = \"#e53935\";\n      else if (score < 40) corTexto = \"#f57c00\";\n      else if (score < 60) corTexto = \"#fbc02d\";\n      else if (score < 80) corTexto = \"#9acb82\";\n      else corTexto = \"#4caf50\";\n\n      const classificacaoElement = document.getElementById(classificacaoId);\n      if (classificacaoElement) {\n        classificacaoElement.style.color = corTexto;\n      }\n\n      // Cria o gráfico tipo doughnut com configuração sem preenchimento\n      try {\n        new Chart(ctx, {\n          type: 'doughnut',\n          data: {\n            labels: ['Score'],\n            datasets: [{\n              data: [100],\n              backgroundColor: ['#0000'],\n              borderWidth: 0,\n              cutout: '80%',\n            }]\n          },\n          options: {\n            responsive: false,\n            rotation: -Math.PI,\n            circumference: Math.PI,\n            plugins: {\n              tooltip: { enabled: false },\n              legend: { display: false }\n            },\n          },\n          plugins: [{\n            id: 'customGauge',\n            afterDraw: (chart) => {\n              const ctx = chart.ctx;\n              const angle = (score / 100) * Math.PI;\n              const cx = chart.width / 2;\n              const cy = chart.height - 42;\n              const r = chart.width / 2.4;\n\n              ctx.save();\n\n              const drawArc = (start, end, color) => {\n                ctx.beginPath();\n                ctx.arc(cx, cy, r, start, end);\n                ctx.strokeStyle = color;\n                ctx.lineWidth = 16;\n                ctx.lineCap = \"butt\";\n                ctx.stroke();\n              };\n\n              drawArc(Math.PI, Math.PI + Math.PI * 0.2 - 0.01, \"#e53935\");\n              drawArc(Math.PI + Math.PI * 0.2, Math.PI + Math.PI * 0.4 - 0.01, \"#f57c00\");\n              drawArc(Math.PI + Math.PI * 0.4, Math.PI + Math.PI * 0.6 - 0.01, \"#fbc02d\");\n              drawArc(Math.PI + Math.PI * 0.6, Math.PI + Math.PI * 0.8 - 0.01, \"#9acb82\");\n              drawArc(Math.PI + Math.PI * 0.8, 2 * Math.PI - 0.01, \"#4caf50\");\n\n              const pointerLength = r * 0.9;\n              const pointerWidth = 6;\n              const angleRadians = Math.PI + angle;\n\n              const x1 = cx + pointerLength * Math.cos(angleRadians);\n              const y1 = cy + pointerLength * Math.sin(angleRadians);\n              const x2 = cx + pointerWidth * Math.cos(angleRadians + Math.PI / 2);\n              const y2 = cy + pointerWidth * Math.sin(angleRadians + Math.PI / 2);\n              const x3 = cx + pointerWidth * Math.cos(angleRadians - Math.PI / 2);\n              const y3 = cy + pointerWidth * Math.sin(angleRadians - Math.PI / 2);\n\n              ctx.beginPath();\n              ctx.moveTo(x1, y1);\n              ctx.lineTo(x2, y2);\n              ctx.lineTo(x3, y3);\n              ctx.closePath();\n              ctx.fillStyle = \"#444\";\n              ctx.fill();\n\n              ctx.beginPath();\n              ctx.arc(cx, cy, 6, 0, 2 * Math.PI);\n              ctx.fillStyle = \"#888\";\n              ctx.fill();\n\n              ctx.font = \"400 16px system-ui, sans-serif\";\n              ctx.fillStyle = \"#888\";\n              ctx.textAlign = \"center\";\n              ctx.textBaseline = \"middle\";\n\n              ctx.font = \"400 11px system-ui, sans-serif\";\n              ctx.fillStyle = \"#888\";\n              ctx.textAlign = \"center\";\n              ctx.textBaseline = \"middle\";\n              const x0 = cx + r * Math.cos(Math.PI);\n              const y0 = cy + r * Math.sin(Math.PI);\n              const x100 = cx + r * Math.cos(0);\n              const y100 = cy + r * Math.sin(0);\n              ctx.fillText(\"0\", x0, y0 + 15);\n              ctx.fillText(\"100\", x100 - 3, y100 + 15);\n\n              ctx.restore();\n            }\n          }]\n        });\n      } catch (error) {\n        console.error(`Erro ao criar gráfico ${canvasId}:`, error);\n        // Tenta novamente após um delay\n        setTimeout(() => {\n          renderGauge({ canvasId, score, classificacaoId });\n        }, 500);\n      }\n    }\n\n    // Função para renderizar todos os gráficos\n    async function initializeCharts() {\n      await waitForChartJS();\n      \n      // Lista de todos os gráficos para renderizar\n      const charts = [\n        { canvasId: \"gaugeChart_consolidado\", score: 100, classificacaoId: \"classificacao_consolidado\" },\n        { canvasId: \"gaugeChart_1w\", score: 100, classificacaoId: \"classificacao_1w\" },\n        { canvasId: \"gaugeChart_1d\", score: 100, classificacaoId: \"classificacao_1d\" },\n        { canvasId: \"gaugeChart_4h\", score: 100, classificacaoId: \"classificacao_4h\" },\n        { canvasId: \"gaugeChart_1h\", score: 100, classificacaoId: \"classificacao_1h\" },\n        { canvasId: \"gaugeChart_15m\", score: 100, classificacaoId: \"classificacao_15m\" }\n      ];\n\n      // Renderiza com delay entre cada gráfico\n      charts.forEach((chart, index) => {\n        setTimeout(() => {\n          renderGauge(chart);\n        }, index * 200);\n      });\n    }\n\n    // Inicializa quando a página carregar\n    if (document.readyState === 'loading') {\n      document.addEventListener('DOMContentLoaded', initializeCharts);\n    } else {\n      initializeCharts();\n    }\n\n    // Re-renderiza se a janela for redimensionada\n    let resizeTimeout;\n    window.addEventListener('resize', () => {\n      clearTimeout(resizeTimeout);\n      resizeTimeout = setTimeout(initializeCharts, 300);\n    });\n  </script>\n</body>\n</html>"
      },
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        680,
        1000
      ],
      "id": "5bc8e713-bf7a-4943-96e7-9e1c8ff71c7f",
      "name": "analise-tendencia.html"
    },
    {
      "parameters": {
        "url": "https://btc-turbo-api-production.up.railway.app/api/v1/analise-tecnica-emas",
        "options": {}
      },
      "id": "2f8dcdf3-ee30-490e-b3be-c6f458d5f35c",
      "name": "request - analise-tecnica.emas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        440,
        1000
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook de entrada": {
      "main": [
        [
          {
            "node": "request - analise-tecnica.emas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "analise-tendencia.html": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "request - analise-tecnica.emas": {
      "main": [
        [
          {
            "node": "analise-tendencia.html",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e9b031ef-4d06-4444-9ee5-4480e9c88aeb",
  "meta": {
    "instanceId": "df70ff04e1b45ccc1482849dfc7bcfb5dca43eb687554e47ff8dc55a9291bcc5"
  },
  "id": "qhxgRSRivNdW6gUp",
  "tags": []
}